body, html {
	background-color: #333;
	color: white;
}
div#gameboard {
	position: relative;
	background-color: black;
	width: 800px;
	height: 400px;
	-webkit-border-radius: 400px;
	border-radius: 400px 400px 0px 0px;
}

div.smallcircle {
	position: absolute;
	top: 350px;
	background-color: black;
	left: 350px;
	width: 100px;
	height: 100px;
	border-radius:50px;
}

div.player {
	background-image: url(images/player.svg);
}

div.enemy {
	background-color: red;
}

input {
	position: absolute;
	top: 475px;
	left: 300px;
	width: 200px;
	box-sizing: border-box;
	z-index: 100000;
}
meter#wordLengthMeter {
	position: absolute;
	top: 500px;
	left: 300px;
	width: 200px;
	box-sizing: border-box;
}

meter#spreadMeter {
	position: absolute;
	top: 400px;
	left:0px;
	width: 350px;
}

meter#mouseDifficultyMeter {
	position: absolute;
	top: 400px;
	right:0px;
	width: 350px;
}

div.word {
	position: absolute;
	display: inline-block;
	text-align:center;
	font-family: monospace;
	background-color: #555;
	border: 1px solid rgba(255,255,255,0.6);
}
